* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  font-family: "poppins", sans-serif;
}

body {
  background-color: #e1eaf5;
  font-size: 62.5%;
  max-width: 100vw;
  height: auto;
  min-height: 100vh;

  display: grid;
  grid-template-columns: 17% 1fr;

  row-gap: 3.2rem;
}

/* SIDEBAR**************** */
.sidebar {
  grid-row: 1 / -1;
  height: auto;
  max-width: 100%;
  background-color: #fff;
  box-shadow: 4px 0px 24px #e3e3e3;
}

.profile {
  text-align: center;
  margin-top: 20%;
  margin-bottom: 3rem;
}

.profile-name {
  color: #5f5c7f;
  font-size: 1.2rem;
}

.profile-position {
  color: #8a94a6;
  font-size: 0.8rem;
}

.profile-dept {
  font-size: 0.6rem;
  color: #acafb1;
}

.nav {
  padding: 0 2rem;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  align-items: center;
  color: #8a94a6;
  cursor: pointer;
}

.list:hover {
  color: #adb4c1;
}

.list-highlight {
  color: #43536f;
  font-weight: 700;
  position: relative;
}

.list-highlight::after {
  content: "";
  position: absolute;
  border-left: 5px solid #0c66ff;
  border-radius: 3px;
  height: 2rem;
  left: -17%;
}

.list:last-child {
  margin-top: 110%;
}

.nav-icon {
  font-size: 1rem;
}

.act-no::after {
  content: "12";
  color: #fff;
  background-color: #0c66ff;
  font-size: 0.6rem;
  padding: 0.2rem 0.4rem;
  border-radius: 6px;
  margin-left: 1.5rem;
}

.caret {
  margin-left: 1.5rem;
}

/* GENERAL ******************************/
.container {
  width: 100%;
  /* margin: 0 4rem 4rem 0; */
  padding: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1.5fr 2fr;
  row-gap: 1rem;
  column-gap: 1rem;
}

/* DASHBOARD ****************************/
.dashboard-header {
  grid-column: 1 / -1;
  grid-row: 1;
  margin-bottom: 1rem;
}

.heading-primary {
  color: #43536f;
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 1.5rem;
}

.dash-box {
  display: flex;
  gap: 5rem;
}

.dash-group {
  display: flex;
  gap: 1rem;
  align-items: center;
  position: relative;
}

.dash-group::after {
  content: "";
  border-right: 0.5px solid #a6aebc;
  position: absolute;
  height: 3rem;
  right: -40%;
}

.last-dash::after {
  border-right: 0.5px solid transparent;
}

.dash-icon {
  width: 2rem;
  height: 2rem;
}

.dept-texts {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.dept-header {
  font-size: 0.8rem;
  color: #8a94a6;
}

.dept-subheader {
  font-size: 0.8rem;
  font-weight: 600;
}

.btn {
  padding: 0.5rem 1rem;
  background: none;
  border: none;
  background-color: #0c66ff;
  color: #fff;
  border-radius: 6px;
  font-family: inherit;

  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  margin-left: auto;
}

.add-icon {
  font-size: 1rem;
  color: #fff;
}

/* PENDING DOCS ******************************/
.pending-docs {
  grid-column: 1 / 3;
  grid-row: 2;
  margin-right: -0.9rem;
  padding: 0.8rem;
  background-color: #fff;
  box-shadow: 0px 2px 24px #f1f2f4;
}

.p-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.2rem;
  width: 90%;
}

.subheading {
  font-size: 1rem;
  font-weight: 600;
  color: #4e586a;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 1rem;
  letter-spacing: 1.2px;
}

.subheading::before {
  content: "";
  position: absolute;
  border-bottom: 3px solid #0c66ff;
  width: 3rem;
  left: 0;
  bottom: -5px;
  border-radius: 5px;
}

.view-all {
  text-decoration: none;
  font-size: 0.6rem;
  color: #0c66ff;
  font-weight: 600;
  letter-spacing: -0.3px;
}

.table {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr 1fr;
  align-items: center;
  row-gap: 0.3rem;
}

.table-head {
  background-color: #f9f9f9;
  color: #a6aebc;
  font-size: 0.8rem;
  padding: 0.2rem 1rem;
}

.table-info {
  font-size: 0.7rem;
  color: #53627c;
  padding: 0.2rem 1rem;
}

.info-al {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

/* DOCUMENT SUMMARY************** */
.doc-summary {
  padding: 0.8rem;
  background-color: #fff;
  box-shadow: 0px 2px 24px #f1f2f4;
  position: relative;
}

.marg-b {
  margin-bottom: 1rem;
}

/* PIE CHART */
.pie-chart {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  border: none;
  position: relative;

  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);

  background: conic-gradient(#82b1ed 45%, #277d61 45% 70%, #ffad0d 70% 100%);
}

.pie-chart::before {
  content: "";
  background-color: #fff;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  opacity: 0.3;
  z-index: 3;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0);
}

.pie-chart::after {
  content: "";
  background-color: #fff;
  width: 60%;
  height: 60%;
  border-radius: 50%;
  z-index: 4;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
}

.pie-container:before {
  content: "12";
  font-size: 2rem;
  color: #43536f;
  z-index: 6;

  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, 0);
}

.pie-container:after {
  content: "Pending";
  font-size: 0.6rem;
  color: #43536f;
  z-index: 6;

  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, 0);
}

/* PIE CHART DETAILS */
.chart-detail-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 3rem;
  row-gap: 1rem;
  padding: 1.5rem;
  bottom: 0;
  position: absolute;
}

.chart-details {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.6rem;
}

.detail-icon {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background: none;
  border: 2px solid #5f5c7f;
}

.rej-icon {
  border: 2px solid #9eabbe;
}

.pending-icon {
  border: 2px solid #ffad0d;
}

.detail-text {
  font-size: 0.6rem;
  margin-right: 1rem;
}

.detail-num {
  margin-left: auto;
}

/* RECENT DOCUMENTS ****************/
.recent-docs {
  padding: 2rem;
  background: #ffffff;
  box-shadow: 0px 2px 24px #f1f2f4;
}

.marg-doc {
  margin-bottom: 2rem;
}

.documents-box {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.document-item {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.doc-icon {
  width: 1.4rem;
}

.doc-text-box {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.doc-name {
  font-size: 0.7rem;
  font-weight: 600;
  color: #53627c;
}

.doc-time {
  font-size: 0.6rem;
  color: #a6aebc;
}

/* RECENT ACTIVITIES************** */
.recent-activities {
  padding: 2rem;
  background: #ffffff;
  box-shadow: 0px 2px 24px #f1f2f4;
}

.rec-act-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

/* 1st Activity**** */

.activities-div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.activities-div::before {
  content: "";
  position: absolute;
  border-left: 1.5px solid #d6d6d6;
  height: 35%;
  top: 24%;
  left: 8%;
}

.ps-el::before {
  content: "";
  position: absolute;
  border-bottom: 0.1px solid #dadada;
  width: 80%;
  bottom: -20%;
  left: 15%;
}

.doc-act-box {
  padding: 1rem;
  position: relative;
}

.doc-name-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.check {
  font-size: 1rem;
  color: #0bb07b;
  padding: 0.1rem;
  border: 1px solid #c8c8c8;
  border-radius: 50%;
}

.doc-action {
  font-size: 0.7rem;
  font-weight: 700;
  color: #53627c;
}

.activity-time {
  font-size: 0.6rem;
  color: #a6aebc;
  margin-left: auto;
}

.document-act-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 2rem;
}

strong {
  cursor: pointer;
}

/* 2nd Activity */

.red-c {
  color: #ff8d8d;
  display: flex;
  align-items: center;
}

.activity-text {
  color: #8a94a6;
  font-size: 0.7rem;
}

/* ANALYSIS******************* */
.analysis-section {
  padding: 2rem;
  background: #ffffff;
  box-shadow: 0px 2px 24px #f1f2f4;
  position: relative;
}

.analysis-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.doc-selection {
  padding: 0.5rem;
  font-size: 0.7rem;
  border: 0.5px solid #ced8e7;
  border-radius: 3px;
  font-family: inherit;
}

.doc-selection {
  padding: 0.5rem;
  font-size: 0.7rem;
}

/* BAR CHART */
.bar-chart-flex {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.bar-chart {
  height: 12rem;
  width: 3rem;
  position: relative;
}

.bar-chart::after {
  content: "";
  position: absolute;
  border-bottom: 0.5px solid #ecf1f8;
  width: 70%;
  bottom: 15%;
  left: 10%;
}

.bar-one {
  width: 1rem;
  background-color: #e1eaf5;
  position: absolute;
  bottom: 20%;
  left: 20%;
}

.bar-two {
  width: 1rem;
  position: absolute;
  background-color: #82b1ed;
  bottom: 20%;
  left: 35%;
}

/* ACC  Chart*/
.acc-one {
  height: 2rem;
}

.acc-two {
  height: 4rem;
}

/* HR Chart */
.hr-one {
  height: 4.5rem;
}

.hr-two {
  height: 2.5rem;
}

/* FIN Chart */
.fin-one {
  height: 3.8rem;
}

.fin-two {
  height: 6rem;
}

/* MEDIA Chart */
.media-one {
  height: 7rem;
}

.media-two {
  height: 6rem;
}

.bar-name {
  font-size: 0.6rem;
  color: #53627c;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.color-box-div {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  gap: 3rem;
}

.info-div {
  display: flex;
  gap: 1.5rem;
}

.colored-box {
  height: 1rem;
  width: 1rem;
  border-radius: 4px;
}

.approved {
  background-color: #82b1ed;
}

.pending {
  background-color: #e1eaf5;
}
